<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style2.css' />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>

    <script src="./javascripts/moment.js"></script>

</head>
<body>

<div id="wrapper">
    <div class="overlay"></div>

    <% include templates/sidebar.ejs %>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container-fluid">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">

                <h1><%= title %></h1>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#Dashboard">Dashboard</a></li>
                    <li><a data-toggle="tab" href="#Statistics">Statistics</a></li>
                    <li><a data-toggle="tab" href="#Others">Others</a></li>
                </ul>

                <br>

                <div class="tab-content">
                    <div id="Dashboard" class="tab-pane fade in active">
                        <h3>Active Tables</h3>
                        <div class="panel-group">
                            <div class="row">
                                <% for(var i=0; i< table_detail.length;i++){ %>

                                    <div class="col-sm-4 ">
                                        <div class="thumbnail"  id =<%= table_detail[i]["container_id"]+"_color" %> >
                                            <div id= <%= table_detail[i]["container_id"] %> style="height: 320px; min-width: 230px"></div>
                                        <div class="caption">
                                            <h2>Database:   <%= table_detail[i]["database_name"] %>
                                                <br>Table:   <%= table_detail[i]["table_name"] %>       </h2>
                                            <font size="4">
                                                <ul id = <%= table_detail[i]["container_id"]+"_list" %> >
                                                    <li id="Last_update_time">              Last update time:  no update yet                                </li>
                                                    <li id="Next_update_time">              Next update time:  null                                         </li>
                                                    <li id="New_documents_number">   Last increase documents:  null                                         </li>
                                                    <li id="Period">                                  Period:  <%= table_detail[i]["period"] %> sec         </li>
                                                    <li id="Documents">                            Documents:  <%= table_detail[i]["documents"] %>          </li>
                                                    <li id="Size">                                      Size:  <%= table_detail[i]["storage"]/1000000 %> MB </li>
                                                </ul>
                                            </font>
                                        </div>
                                    </div>
                            </div>
                            <% }; %>
                        </div>
                    </div>
                </div>
                    <div id="Statistics" class="tab-pane fade">
                        <h3>Statistics</h3>
                        <p>Statistics test page</p>
                        <div id="column_chart" style="width:1400px; height: 800px; margin: 0 auto"></div>
                        <br><br><br><br><br><br><br><br><br><br>

                    </div>
                    <div id="Others" class="tab-pane fade">
                        <h3>Others</h3>
                        <p>Coming soon....</p>
                    </div>
                </div>



            </div>



            <div class="col-xs-1"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script type="text/javascript" src="javascripts/test_template.js"></script>

<script src="./socket.io/socket.io.js"></script>

<script type="text/javascript" src="javascripts/live_chart_and_data_update.js"></script>

<script type="text/javascript" src="javascripts/statistics_charts.js"></script>



</body>
</html>
